
__pycache__/

.idea/

Scripts/

cityscapesscripts/

checkpoint/

models/unet_model/

myplot.png

models/predictions_0.png

*.zip

models/img.jpg

predictions_0.png

models/deeplabv3_model/

models/deeplabv3plus_model/

utils/secret.py
